.navbar img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}
.bg-color{
  background-color: #FFFF66;
}
.card img{
  height:100vh;
  opacity: 0.5;
}

h5{
  font-family: 'Dancing Script', cursive; 
  
}
::placeholder{
  text-align: center;
}

P{
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  align-items: center;
}
.form{
  background-color: #FFFF66;
margin: auto;
 
  
}

.btn:hover{
 background-color: green;
}
