.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.bg-color{
  background-color: whitesmoke;
}
li a:hover{
  color: red;
}
.card{
  background-color: lightgray;
  height: 800px;
}
.card img{
    height:100vh;
    opacity: 0.5;
}
.card h5{
    text-align: center;
    padding: 100px 0px;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.card p{
    text-align: center;
    font-weight: bold;
   
}

  h5{
    font-family: 'Dancing Script', cursive; 
    
  }
  .container .card img{
    height: 40vh;
    opacity: 1;
  }
  .container .card p{
    font-family: 'Dancing Script', cursive; 
    font-size: 1rem;
  }
  .hero{
    background-image: url("htl/background.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 480px) {
    .hero{
      background-position: center;
      height: 50vh;
    }
  }
 


